---
import Layout from "../layouts/Layout.astro";
---

<Layout title="EcoPuntos | Nunca fue tan facil reciclar">
  <main class="max-w-screen-lg py-6 px-2">
    <h1 class="text-black font-normal text-center">
      Bienvenid@ a <span class="text-primary font-semibold">Eco</span>Puntos ♻️
    </h1>
    <h2 class="text-black font-normal text-center">
      Encuentra todos los puntos de reciclaje en la Ciudad de Córdoba
    </h2>
    <p class="text-red-600/80 pt-2 font-normal text-center text-sm">
      La web es nueva, cualquier correccion, consejo o recomendacion es
      bienvenida.
    </p>
    <div class="flex w-full justify-center pt-2">
      <a
        href="/map"
        class="text-primary border-primary border transition-colors px-2 py-1 font-medium rounded-md hover:text-white hover:bg-primary"
        >Encuentra tu EcoPunto</a
      >
    </div>
    <div
      class="w-full flex sm:flex-row flex-col sm:gap-y-0 gap-y-4 justify-center pt-10"
    >
      <div
        id="reciclar"
        class="flex flex-col items-center max-w-full sm:max-w-[50%]"
      >
        <span
          class="text-3xl border border-primary size-20 flex justify-center items-center rounded-full"
          >♻️</span
        >
        <h2 class="text-primary font-normal text-center">
          ¿Por que es imporante reciclar?
        </h2>
        <p class="text-black text-center text-base px-6">
          Reciclar es fundamental para proteger nuestro ambiente. Al reciclar,
          reducimos la cantidad de residuos que terminan en vertederos, ayudando
          a disminuir la contaminación del suelo, agua y aire. Además, el
          reciclaje contribuye al ahorro de recursos naturales, ya que muchos
          materiales como el plástico, papel, vidrio y metal pueden reutilizarse
          para fabricar nuevos productos. Esto reduce la necesidad de extraer
          materias primas y, a su vez, disminuye el consumo de energía y las
          emisiones de gases de efecto invernadero.
        </p>
        <h2 class="text-primary font-normal text-center pt-4">
          ¿Como reciclo de manera correcta?
        </h2>
        <ul>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">1. </span>Antes de
              reciclar, asegúrate de limpiar bien los residuos
            </p>
          </li>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">2. </span>Encuentra tu
              EcoPunto adaptado a tus residuos y vivienda
            </p>
          </li>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">3. </span>Clasifica los
              residuos por tipo de material
            </p>
          </li>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">4. </span>Lleva tus
              residuos al EcoPunto y ponlos en el contenedor correcto
            </p>
          </li>
        </ul>
      </div>
      <div
        id="comousar"
        class="flex flex-col items-center max-w-full sm:max-w-[50%]"
      >
        <span
          class="text-3xl border border-primary size-20 flex justify-center items-center rounded-full"
          >🗺️</span
        >
        <h2 class="text-primary font-normal text-center">
          ¿Como funciona EcoPuntos?
        </h2>
        <p class="text-black text-center text-base px-6">
          EcoPuntos es una plataforma que facilita el proceso de reciclaje en la
          Ciudad de Córdoba. A través de un mapa interactivo, te permite
          encontrar los puntos de reciclaje más cercanos a tu ubicación, con
          información detallada sobre las calles, tipos de residuos que aceptan
          y los horarios de apertura de cada punto.
        </p>
        <h2 class="text-primary font-normal text-center pt-4">
          ¿Como uso EcoPuntos?
        </h2>
        <ul>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">1. </span>Navega por la
              ciudad y encuentra los EcoPuntos más cercanos.
            </p>
          </li>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">2. </span>Revisa que el
              EcoPunto acepte el residuo que deseas reciclar
            </p>
          </li>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">3. </span>Revisa el
              horario de apertura de el EcoPunto
            </p>
          </li>
          <li class="py-2">
            <p class="font-normal text-center text-base">
              <span class="text-primary font-semibold">4. </span>Dirígete hacia
              el EcoPunto y empieza a reciclar
            </p>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
