<footer class="w-full flex flex-col items-center bg-zinc-100">
  <b class="text-black text-lg">Contacto</b>
  <a
    class="text-black hover:text-primary transition-colors text-lg"
    href="https://wa.me/5493512310685">Whatsapp</a
  >
  <a
    class="text-black hover:text-primary transition-colors text-lg"
    href="https://instagram.com/tomasontivero10">Instagram</a
  >
  <p class="text-lg">ontiverotomas0@gmail.com</p>
</footer>
