---

---

<header class="flex w-full items-center p-4 justify-between">
  <h2 class="text-black font-normal text-center">
    <span class="text-primary font-semibold">Eco</span>Puntos ♻️
  </h2>
  <div class="flex gap-4">
    <a
      href="/#comousar"
      class="font-medium transition-colors hover:text-primary"
      >¿Como uso EcoPuntos?</a
    >
    <a
      href="/#reciclar"
      class="font-medium transition-colors hover:text-primary">¿Como reciclo?</a
    >
  </div>
  <a
    href="/map"
    class="text-primary border-primary border transition-colors px-2 py-1 font-medium rounded-md hover:text-white hover:bg-primary"
    >Encuentra tu EcoPunto</a
  >
</header>
